# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/cache/
data/ultrasound/
*.h5
*.pkl

# OS
.DS_Store
Thumbs.db

# Logs
*.log
